{% extends "index.html" %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Size</th>
        <th scope="col">Uploader</th>
        </tr>
    </thead>
    <tbody>

        {% for download in downloads %}
            <tr>
                <td>{{ download.name }}</td>
                <td>{{ download.date }}</td>
                <td>{{ download.size }}</td>
                <td>{{ download.uploader }}</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>

{% endblock content %}



